<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <title>${title}</title>
    </head>
{% endblock %}
<body>
{% import "file.name.ext" %}
{% i18n "Welcome ${user}" %}

{% each $item in 1..10 %}

{% endeach %}

{% if $aaa %}
{% block body %}

    {% import "file.name.ext" %}
    {! dla tablicy array('user' => array('firstName' => 1, 'lastName' => 2)) !}
    {% use $user %}
        <a href="logout"> ${firstName} ${lastName}</a>
    {% enduse %}
    <script type="text/javascript">
    //{!

    //this content will be ignored by template interpreter and tokenizer
    //as well

    //!}
    </script>
{% endblock %}
{% endif %}
</body>
</html>